* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #1F2937;
    height: 60px;
}

header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}


ul {
    list-style-type: none;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .navbar {
    display: flex;
}

header li { 
    margin-left: 20px;
}

.hero {
    background-color: #1F2937;
    min-height: 400px;
}

.hero img {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 16/8;
    object-fit: cover;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}