/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body section */
body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

/* header section */
header {
    background-color: #1F2937;
    height: 60px;
}

header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}


ul {
    list-style-type: none;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .navbar {
    display: flex;
}

header li { 
    margin-left: 20px;
}

/* hero section */
.hero {
    background-color: #1F2937;
    min-height: 500px;
}

.hero img {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 16/7;
    object-fit: cover;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    line-height: 1.2;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.hero .sign-up-btn-hero {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    padding: 7px 33px;
    border-radius: 8px;
    border-color: #3882F6;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: inherit;
}

/* boxes/main section */
.content {
    min-height: 500px;
}

.content img {
    width: 170px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 15px;
}

.content p {
    font-size: 18px;
    color: gray;
}

.content .content-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 40px auto;
}

.content .container {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.box {
    width: 150px;
    height: 150px;
    text-align: center;
}

/* additional/quote section */
.additional {
    background-color: #E5E7EB;
    min-height: 500px;
}

.additional .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: inherit;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

blockquote {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}