* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #1F2937;
    height: 60px;
}

header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}